body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;

}

.logo, .cta-header{
    font-size: 24px;
    color: #F9FAF8;
}

uo {
    display: flex;
}

li {
    list-style: none;
    padding: 16px;
}

a {
    text-decoration: none;
}

a, .hero-secondary-text, .hero-button, .cta-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color:#F9FAF8;
    padding-bottom: 8px;
}

.section-one {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}

.hero-body {
    display: flex;
    flex-direction: column;
}

.hero-button {
    background-color: #3882f6;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: none;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
    gap: 32px;
}

.info-header-text, .quote-author {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 32px;
}

.section-three {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 75%
}

.quote {
    width: 50%;
    font-size: 36px;
    font-style: italic;
    color:#1F2937;
}

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta {
    flex: 1;
    display: flex;
    background-color: #3882f6;
    padding: 32px;
    border-radius: 8px;
    margin: 64px;
    gap: 32px;
    justify-content: center;
    max-width: 50%;
}

.cta-button {
    color:#F9FAF8;
    background-color: #3882f6;
    border: 0.15em solid white;
    padding: 8px 32px;
    border-radius: 0.5em;
    font-size: 18px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 32px;
    color:#E5E7EB;
}

.cta-header {
    font-weight: bold;
}

.card img {
    border: .25em solid #3882f6;
    border-radius: 0.5em;
    max-height: 200px;
    max-width: 200px;
}

.card p {
    text-align: center;
}

.cta-button:hover, .hero-button:hover {
    background-color: hsl(209, 73%, 46%);
}

.cta-button:active, .hero-button:active {
    background-color: hsl(226, 72%, 24%);
    border-color: #eee;
}